.table-bordered > tbody > tr > th{
    background: white;
    table-layout: fixed;
    overflow: hidden;
}

.table-bordered > tbody > tr > td{
    background: lightgray;
    table-layout: fixed;
    overflow: hidden;
}


.table{ table-layout: fixed; table-border:0;}

